<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" th:src="@{lib/html5shiv.js}"></script>
<script type="text/javascript" th:src="@{lib/respond.min.js}"></script>
<![endif]-->
<link th:href="@{static/h-ui/css/H-ui.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{static/h-ui.admin/css/H-ui.login.css}" rel="stylesheet" type="text/css" />
<link th:href="@{static/h-ui.admin/css/style.css}" rel="stylesheet" type="text/css" />
<link th:href="@{lib/Hui-iconfont/1.0.8/iconfont.css}" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" th:src="@{lib/DD_belatedPNG_0.0.8a-min.js}" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>后台登录</title>
<meta name="keywords" content="H-ui.admin v3.1">
<meta name="description" content="H-ui.admin v3.1">
</head>
<body>
	<input type="hidden" id="TenantId" name="TenantId" value="" />
	<div class="header"></div>
	<div class="loginWraper">
		<div id="loginform" class="loginBox">
			<form id="form_check" class="form form-horizontal" action="" method="post">
				<div class="row cl">
					<label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
					<div class="formControls col-xs-8">
						<input id="username" name="username" type="text" placeholder="账户" class="input-text size-L">
                        <span id="check_u"></span>
                    </div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
					<div class="formControls col-xs-8">
						<input id="password" name="password" type="password" placeholder="密码" class="input-text size-L">
                        <span id="check_p"></span>
                    </div>
				</div>
                <div id="test" style="display: none"></div>
				<div class="row cl">
					<div id="check1" class="formControls col-xs-8 col-xs-offset-3">
						<input id="check_code" class="input-text size-L" type="text" placeholder="验证码"
							onblur="if(this.value==''){this.value='验证码:'}"
							onclick="if(this.value=='验证码:'){this.value='';}"
                               value="验证码:"
							style="width: 150px;"> <img id="t_image" src="/getCode"> <a id="kanbuq"
							href="javascript:;">看不清，换一张</a>
                        <span id="check_c"></span>
					</div>
				</div>
				<div class="row cl">
					<div class="formControls col-xs-8 col-xs-offset-3">
						<label for="online"> <input type="checkbox" name="online"
							id="online" value=""> 使我保持登录状态
						</label>
					</div>
				</div>
				<div class="row cl">
					<div class="formControls col-xs-8 col-xs-offset-3">
						<input id="input_login" name="" type="submit" class="btn btn-success radius size-L"
							value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">
                        <!--<input name="" type="reset" class="btn btn-default radius size-L"-->
							<!--value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;">-->
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="footer">如有雷同，纯属巧合</div>
</body>
<script type="text/javascript" th:src="@{lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{static/h-ui/js/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/jquery.validate.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/validate-methods.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery.validation/1.14.0/messages_zh.js}"></script>
<script type="text/javascript" th:inline="none">
    //文本刷新验证码
    $("#kanbuq").click(function () {
        $("#t_image")[0].src="getCode?"+new Date();
    });
    //图片刷新验证码
    $("#t_image").click(function () {
        $("#t_image")[0].src="getCode?"+new Date();
    });
    //判断验证码是否正确
    $("#check_code").blur(function () {
        var code = $("#check_code").val();
        $.ajax({
            "url": "checkCode",
            "data": {"code":code},
            "type": "POST",
            "dataType": "json",
            "success": function(obj) {
                if (obj.state == 1) {
                    $("#check_c").text(obj.data);
                    $("#check_c").css("color","green");
                } else {
                    $("#check_c").text(obj.data);
                    $("#check_c").css("color","red");
                }
            }
        });
    });
    //清空验证码提示
    $("#check_code").focus(function () {
        $("#check_c").empty();
    });
    //清空用户名密码错误提示
    $("#username").focus(function () {
        $("#check_u").empty();
    });
    $("#password").focus(function () {
        $("#check_p").empty();
    });
    $(function () {
        //表单验证
        $("#form_check").validate({
            rules:{
                username:{
                    required:true,  //必填项
                    minlength: 2,    //最小长度
                    maxlength: 10    //最大长度
                },
                password:{
                    required:true,
                    minlength: 6,
                    maxlength: 11
                },
                check_code:{
                    required:true,
                },
            },
            onkeyup:false,
            focusCleanup:true,
            submitHandler: function(form) {
                //提交登录
                var username = $("#username").val();
                var password = $("#password").val();
                var checkcode = $("#check_code").val();
                //if (checkcode=="验证码:")return;
                $.ajax({
                    "url": "handle_login",
                    "data": {"username":username,"password":password,"checkcode":checkcode},
                    "type": "POST",
                    "dataType": "json",
                    "success": function(obj) {
                        if (obj.state == 1) {
                            // 登录成功，保存Cookie
                            layer.msg(obj.message);
                            saveCookie();
                            // 跳转到主页
                            location.href = "../index";
                        } else if(obj.state == 0){
                            layer.msg(obj.message);
                            // $("#check_u").html("false");
                            // $("#check_u").css("color","red");
                        }else if(obj.state == -1){
                            layer.msg(obj.message);
                        }else{
                            layer.msg(obj.message);
                        }
                    }
                });
            }
        });
    });
</script>
<script type="text/javascript">
    // 页面加载完成后
    // 判断在Cookie中是否有“自动登录”相关信息
    // 如果有，则勾上“自动登录”，并在用户名和密码的输入框中设置默认值
    $(document).ready(function () {
        if ($.cookie("rmbUser") == "true") {
            $("#online").attr("checked", true);
            $("#username").val($.cookie("username"));
            $("#password").val($.cookie("password"));
        }
    });

    // 记住用户名密码
    function saveCookie() {
        // 判断是否勾选了“自动登录”
        var checked = $("#online").prop("checked");
        if (checked) {
            // 勾选了“自动登录”
            // 获取输入框中的内容
            var str_username = $("#username").val();
            var str_password = $("#password").val();
            // 在Cookie中记录“自动登录”、“用户名”和“密码”
            $.cookie("rmbUser", "true", { expires: 7 }); //存储一个带7天期限的cookie
            $.cookie("username", str_username, { expires: 7 });
            $.cookie("password", str_password, { expires: 7 });
        } else {
            // 没有勾选“自动登录”
            // 清除Cookie中的数据，并设置为过期
            $.cookie("rmbUser", "false", { expire: -1 });
            $.cookie("username", "", { expires: -1 });
            $.cookie("password", "", { expires: -1 });
        }
    };
</script>
</html>