<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" th:src="@{lib/html5shiv.js}"></script>
<script type="text/javascript" th:src="@{lib/respond.min.js}"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" th:href="@{static/h-ui/css/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{static/h-ui.admin/css/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" th:href="@{lib/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" th:href="@{static/h-ui.admin/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" th:href="@{static/h-ui.admin/css/style.css}" />
<link rel="stylesheet" th:href="@{lib/zTree/v3/css/zTreeStyle/zTreeStyle.css}" type="text/css">
<!--[if IE 6]>
<script type="text/javascript" th:src="@{lib/DD_belatedPNG_0.0.8a-min.js}" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>产品分类</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 项目管理 <span class="c-gray en">&gt;</span> 项目列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<table class="table">
	<tr>
		<td width="200" class="va-t"><ul id="treeDemo" class="ztree"></ul></td>
		<td class="va-t"><iframe ID="testIframe" Name="testIframe" FRAMEBORDER=0 SCROLLING=AUTO width=100%  height=390px SRC="product-category-add.html"></iframe></td>
	</tr>
</table>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" th:src="@{lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{lib/layer/2.4/layer.js}"></script>
<script type="text/javascript" th:src="@{static/h-ui/js/H-ui.min.js}"></script>
<script type="text/javascript" th:src="@{static/h-ui.admin/js/H-ui.admin.js}"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{lib/zTree/v3/js/jquery.ztree.all-3.5.min.js}"></script>
<script type="text/javascript">
var zNodes = [{ id:0, pId:0, name:"项目列表",open:true}];
var setting = {
	view: {
		dblClickExpand: false,	//双击节点时，是否自动展开父节点的标识
		showLine: true,			//是否显示节点之间的连线
		selectedMulti: false		//是否允许同时选中多个节点
	},
	data: {
		simpleData: {
		    /*确定 zTree 初始化时的节点数据、异步加载时的节点数据、或 addNodes 方法中输入的 newNodes 数据是否采用简单数据模式 (Array)
			不需要用户再把数据库中取出的 List 强行转换为复杂的 JSON 嵌套格式*/
			enable:true,
			idKey: "id",	//节点数据中保存唯一标识的属性名称
			pIdKey: "pId",	//节点数据中保存其父节点唯一标识的属性名称
			rootPId: ""	//用于修正根节点父节点数据，即 pIdKey 指定的属性值
		}
	},
	callback: {
	    //用于捕获单击节点之前的事件回调函数，并且根据返回值确定是否允许单击操作
		beforeClick: function(treeId, treeNode) {
			if (treeNode.isParent) {    //记录 treeNode 节点是否为父节点
				zTree.expandNode(treeNode); //展开/折叠 指定的节点
				return false;
			} else {
				demoIframe.attr("src","product-category-update" + ".html?id="+treeNode.id+"");
				return true;
			}
		}
	}
};

var code;
		
function showCode(str) {
	if (!code) code = $("#code");
	code.empty();
	code.append("<li>"+str+"</li>");
}
		
$(document).ready(function(){
	var t = $("#treeDemo");
	t = $.fn.zTree.init(t, setting, zNodes);
	demoIframe = $("#testIframe");
	//demoIframe.on("load", loadReady);
	var zTree = $.fn.zTree.getZTreeObj("treeDemo"); //获取tree对象
	//zTree.selectNode(zTree.getNodeByParam("id",'11'));
    $.ajax({
        "url": "handle_item_query",
        "data": {},
        "type": "POST",
        "dataType": "json",
        "success": function(obj) {
            if (obj.state==1){
                $.each(obj.data,function (i,item) {
                    var iid = item.id;
                    var parentZNode = zTree.getNodeByParam("id", 0, null); //获取父节点
                    zTree.addNodes(parentZNode,{"id":iid,"name":item.itemName})
                });
            } else{
               layer.msg(obj.message);
            }
        },
        error: function (obj) {
            layer.msg("系统错误");
        }
    });
});
</script>
</body>
</html>